@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, black,black, rgb(7, 7, 88));
}