@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: linear-gradient(70deg,blue,rgb(0, 0, 66), black);
}

.cabecalho-img{
    height: 600px;
}

.cabecalho-menu{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
    cursor: pointer;
}


.cabecalho-menu-item{
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 18px;
}